@font-face {
  font-family: 'Calibri';
  src: url('../public/assets/fonts/Calibri/Calibri-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibri';
  src: url('../public/assets/fonts/Calibri/Calibri.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
